*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gabarito', sans-serif;

}

.navbar{
    padding-left: 120px;
    padding-right:100px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 1;
    padding-top: 20px;
    align-items: center;


    
}
.navbar_icon1 img{
    padding-left: 25px;
    width: 210px;
    height: 40px;
}

.navbar_s2{
    display: flex; 
    justify-content: center;
    font-weight: bold;
    font-size: medium;
    align-items: center;
       
   
}

.navbar_s2__discover:hover {
    background-color: rgb(228, 228, 228);
}
.navbar_s2__trips:hover {
    background-color: rgb(228, 228, 228);
}
.navbar_s2__Review:hover {
    background-color: rgb(228, 228, 228);
}
.navbar_s2__forums:hover {
    background-color: rgb(228, 228, 228);
}



.navbar_s2_text button{
    color: black;
    font-size: 16px;
    cursor: pointer;
    line-height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 15px;

}

.navbar_s2__text span {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.navbar_s3__button__signin{
    border-radius: 0;
    border-style: none;
    background-color: transparent;
    font-size: small;
    margin-left: 6px ;  
    font-weight: bold;
    
}

.navbar a{
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: medium;
}
.navbar__la{
    display: flex;
}

.navbar_s3{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;   
   
}
.navbar_s3__inr{
    padding-right: 20px;
    font-size: medium;
}
.navbar_s3_last{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: small;
    
}
.navbar_s3__img{
    width: 20px;
    height: 25px;
}

.navbar_s3_last h3{
    padding: 5px;
   color: rgb(154, 151, 151);
}

.navbar_s3__button{
    background-color: black;
    border-radius: 30px;
    padding: 10px;
   align-items: center;
}

.navbar_s3__button__signin{
    color: white;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.heading_s1{
    margin: 40px;
    padding-top: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.heading{
    align-items: center;
    margin-bottom: 40px;
    padding-left: 150px;
    padding-right:190px;
}

.heading_s2{
    display: flex;
    padding-left: 80px;
    justify-content: space-around;
    margin-top: 20px;
    padding-right: 100px;
    font-weight: bold;
    margin-bottom: 30px;
    align-items: center;


}

.search{
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    justify-content: space-around;

    
}

.heading_s2_search{
    padding: 8px;
    border: solid rgb(172, 165, 165) 0.2px;
    border-radius: 30px;
    width: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 2px 10px 2px gray;
    justify-content: center;
   
}
.search i{
    padding-left: 10px;
}
.heading_s2_search input {
    border: none;
    width: 100%;
    font-size: 16px;
    
}

.search_button{

}

.search_s1__button{
    background-color: #34E0A1;
    border-radius: 30px;
    padding: 10px;
    width: 100PX;
    align-items: center;
    font-weight: bold;
    border-style: none;
}

.heading_s2_svg2{
    width: 50px;
    height: 20px;
    margin-top: 2px;
    padding-bottom: 3px;
    gap: 30px;
}
.gateway{
    padding-left: 160px;
    padding-right:180px;
    
}
.heading_s2_s1{
    display: flex;
    gap: 3px;
    align-items: center;
}

.heading_s2_s2{
    display: flex;
    gap: 3px;
    align-items: center;
}
.heading_s2_s3{
    display: flex;
    gap: 3px;
    align-items: center;
}
.heading_s2_s4{
    display: flex;
    gap: 3px;
    align-items: center;
}
.heading_s2_s5{
    display: flex;
    gap: 3px;
    align-items: center;
}
.heading_s2_s6{
    display: flex;
    gap: 3px;
    align-items: center;
}
 
.gateway{
    position: relative;
    padding-top: 30px;
    margin-bottom: 130px;
}

.gateway_s1_img{
    margin-left: 10px;
    object-fit: cover;
    width: 1000px;
    height: fit-content;
    margin-right: 30px;
    
    
}
.gateway_s2{
    background-color: transparent;
    bottom: 150PX;
    position: absolute;
    display: inline-block;
    left: 300px;
    width: 480px;
    height: 200px;
    padding-top: 40px;
    margin-bottom: 20px;
    
}

.gateway_s2 {
    
    color: white;
}

.gateway_s2_p{
    margin-bottom: 3px;
    font-size: small;
}
.gateway_s2_p span{
    border: solid white 2px;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 3px;  
}
.gateway_s2_h1{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 8px;
}

.gateway_s2_h2{
    padding-right: 5px;
    font-size: 19px;
    text-align: left;
}

.gateway_s2_link{
    color: black;
    text-decoration: none;
    font-size: 16px;
    border: solid transparent 2px;
    background-color: #DCD0EB;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    display:flex;
    width: 100px;
    align-items: center;
    gap: 3px;
    margin-top: 20px;
}
.gateway_s2_button{
    
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.card:hover {
    transform: translateY(-5px);
    
}
.card_one:hover{
    opacity: 0.5;
}
.card_two:hover{
    opacity: 0.5;

}
.card_three:hover{
    opacity: 0.5;
}
.card_four:hover{
    opacity: 0.5;

}

.card_s1{
    background-color: white;
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;

    
    
} 

.card{
   width: 900px;
   display: flex;

}
.card{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    overflow: scroll;
}

.card img{
    object-fit: cover;
    width: 260px;
    height: 280px;
    
}

.card_one img{
    
    background-color: white;
    border-radius: 15px;

    
}

.card_two img{
    
    background-color: white;
    border-radius: 15px;
}
.card_three img{
   
    background-color: white;
    border-radius: 15px;
    
}

.card_four img{
    
    background-color: white;
    border-radius: 15px;
    
}

.card_five img{
    background-color: white;
    border-radius: 15px;
}

.card_s1_text1{
    font-weight: lighter;
    font-size: xx-large;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0;
}
.card_s1_text2{
    
    padding-left: 0;
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.card div{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:5px;
    flex: none;
}

.card img{
    width: 100%;
}

.card::-webkit-scrollbar{
    display: none;
}