*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito', sans-serif;
}

.navbar{
    padding-left: 100px;
    padding-right:100px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 1;
    padding-top: 20px;
    align-items: center;


    
}
.navbar_icon1 img{
    padding-left: 25px;
    width: 210px;
    height: 40px;
}

.navbar_s2{
    display: flex;
    gap: 15px;  
    align-items: center;
    padding-left:60px ;
    font-weight: bold;
    
   
}

.navbar button{
    border-radius: 0;
    border-style: none;
    background-color: transparent;
    font-size: medium;
    margin-left:10px ;  
    font-weight: bold;
    
}

.navbar a{
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: medium;
}
.navbar__la{
    display: flex;
}

.navbar_s3{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;

    
   
}

.navbar_s3_last{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.navbar_s3__img{
    width: 25px;
    height: 30px;
}

.navbar_s3_last h3{
    padding: 5px;
   color: rgb(154, 151, 151);
}

.navbar_s3__button{
    background-color: black;
    border-radius: 30px;
    padding: 10px;
   align-items: center;
}

.navbar_s3__button__signin{
    color: white;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.heading_s1{
    margin: 60px;
    padding-top: 30px;
    text-align: center;
}

.heading{
    align-items: center;
    margin-bottom: 40px;
}

.heading_s2{
    display: flex;
    padding-left: 100px;
    justify-content: space-around;
    margin-top: 20px;
    padding-right: 100px;
    font-weight: bold;
    margin-bottom: 30px;
    align-items: center;


}

.search{
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around;

    
}

.heading_s2_search{
    padding: 8px;
    border: solid rgb(172, 165, 165) 0.2px;
    border-radius: 30px;
    width: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 4px 12px 2px gray;
    justify-content: center;
   
}
.search i{
    padding-left: 10px;
}
.heading_s2_search input {
    border: none;
    width: 100%;
    font-size: 16px;
    
}

.search_button{

}

.search_s1__button{
    background-color: #34E0A1;
    border-radius: 30px;
    padding: 10px;
    width: 100PX;
    align-items: center;
    font-weight: bold;
    border-style: none;
}

.heading_s2_svg2{
    width: 50px;
    height: 20px;
    margin-top: 2px;
    padding-bottom: 3px;
}
.gateway{
    padding-left: 100px;
    padding-right: 100px;
}

    
.gateway_s1_img{
    width: 1100px;
    height: 600px;
    
    
}
.gateway_s2{
    width: 500px;
    height: 350px;
    background-color: transparent;
    top: 500px;
    left: 100px;
    position: absolute;
    
}

.gateway_s2 {
    color: white;
}